# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Reports
reports/
*.json

# Environment variables
.env

# OS Files
.DS_Store
Thumbs.db